<div class="">
    <div class="row pd-10"><span>Search:</span><input type="text" class="form-control searchBtn" (keyup)="onSearchEmployee(searchText.value)" #searchText></div>
    <table class="table responsive-table">
        <thead>
            <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Department</th>
          
            <th>Position</th>
            <th>Address1</th>
            <th>Address2</th>
            <th>State</th>
            <th>City</th>
            <th>Pin Code</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of filterEmployeeDetails">
            <td>{{emp.FirstName}}</td>
            <td>{{emp.LastName}}</td>
            <td>{{emp.Department}}</td>
            <td>{{emp.Position}}</td>
            <td>{{emp.Address1}}</td>
            <td>{{emp.Address2}}</td>
            <td>{{emp.State}}</td>
            <td>{{emp.City}}</td>
            <td>{{emp.PinCode}}</td>
            <td ><a (click)="editEmployee(emp)" class="actionBtn">Edit</a>
                <a (click)="deleteEmployee(emp.id)" class="actionBtn deleteBtn">Delete</a></td>
            
        </tr>
        </tbody>
       
    </table>
</div>
